// Specific CSS for your home-page
.landing {
  height: 100vh;
  width: 100vw;
}

.wrap {
  margin: auto;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  max-width: 300px;
}

.logo {
  max-height: 400px;
  padding: 160px 8px 24px 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lp-menu {
  margin-top: 24px;
  text-align: center;
}

.container{
  max-width: 1400px;
  margin: auto;
  padding: 0 36px;
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes content{
  0% {left: -1000px;}
  100% {left: 0px;}
}

.searchbar {
  width: 100%;
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translateX(-50%) translateY(-50%);
  p {
    // font-size: 4.3em;
    // letter-spacing: -4px;
    font-weight: 700;
    color: #D47AE8;
    text-align: center;
  }
  .cssanimation, .cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  .cssanimation span { display: inline-block }

  .fadeInBottom { animation-name: fadeInBottom }
  @keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
  }
}
.lp-menu{
  input {
    min-width: 300px;
    color: white;
    background-color: transparent;
    padding: 8px;
    p {
      font-weight: 100;
    }
  }

  select {
    width: 80px;
    color: #D47AE8;
    text-align: center;
    font-size: 24px;
  }

  .send {
    background-color: #D47AE8;
    color: white;
    }

  ::placeholder {
    text-align: center;
  }

}
