<%# timer %>
<% time = ((900+ (Time.now - booking.created_at))/60).to_int %>
<p><%= time %> minutes ago</p>
<%# timer end %>
<% else %>
  <%# Restaurant Pending Render %>
  <%= image_tag booking.user.photo.attached? ? cl_image_path(booking.user.photo.key) : 'https://cdn2.aprico-media.com/production/imgs/images/000/029/940/original.png?1553946576' %>
  <%# time out %>
  <% time = ((900- (Time.now - booking.created_at))/60).to_int %>
  <% if time > 0 %>
    <p>Expires in <%= time %>mins</p>
  <% else %>
    <p>Booking expired</p>
  <% end %>
  <%# time out %>
<% end %>
