<table id="my-chart" class="charts-css column show-labels data-spacing-2">
  <tbody>
    <tr>
      <th scope="row"> Jan </th>
      <td style="--size: 0.01;"> <span class="data">  </span> </td>
    </tr>
    <tr>
      <th scope="row"> Feb </th>
      <td style="--size: 0.13;"> <span class="data"> 13 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Mar </th>
      <td style="--size: 0.13;"> <span class="data"> 13 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Apr </th>
      <td style="--size: 0.24;"> <span class="data"> 24</span> </td>
    </tr>
    <tr>
      <th scope="row"> May </th>
      <td style="--size: 0.25;"> <span class="data"> 26</span> </td>
    </tr>
    <tr>
      <th scope="row"> June </th>
      <td style="--size: 0.26;"> <span class="data"> 26</span> </td>
    </tr>
    <tr>
      <th scope="row"> Jul </th>
      <td style="--size: 0.36;"> <span class="data"> 36 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Aug </th>
      <td style="--size: 0.65;"> <span class="data"> 65 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Sep </th>
      <td style="--size: 0.45;"> <span class="data"> 45 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Oct </th>
      <td style="--size: 0.34;"> <span class="data"> 34 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Nov </th>
      <td style="--size: 0.88; --color-2"> <span class="data"> 88 </span> </td>
    </tr>
    <tr>
      <th scope="row"> Dec </th>
      <td style="--size: <%= ((current_user.restaurants.first.bookings.count + 12)/100.to_f) %>;"> <span class="data"> <%= current_user.restaurants.first.bookings.count + 12 %> </span> </td>
    </tr>
  </tbody>
</table>
