<%= render "shared/navbar" %>
<div class="container mt-3 mb-3">
  <div class="title">
    <h5>My requests</h5>
  </div>
  <div class="bookings d-flex flex-column">
    <% @bookings.each do |booking| %>
      <%= render "card_product", booking: booking %>
    <% end %>
  </div>
</div>
