<%= render "shared/navbar" %>
<div class="container mt-3 mb-3">
  <div class="title">
    <small>
      <p class="text-warning mb-0">My requests</p>
    </small>
  </div>
  <div class="bookings d-flex flex-column">
    <% @bookings.each do |booking| %>
      <%= render "card_product", booking: booking %>
    <% end %>
  </div>
</div>
