<div class="navbar-vanilla" data-controller="navbar-vanilla" data-action="click->navbar-vanilla#updateNavbar">
  <a class="navbar-vanilla-section" href="#">
    <img class="navbar-vanilla-logo" src="https://yannklein.github.io/yann-uikit/youtube.png" alt="logo">
    <h2 class="navbar-vanilla-brand" >Vanilla CSS navbar</h2>
  </a>
  <div class="navbar-vanilla-section">
    <div class="navbar-vanilla-menu">
      <a href="#">CSS tricks</a>
      <a href="#">Design gems</a>
    </div>
    <form class="form-desktop" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="navbar-vanilla-profile">
      <img src="https://avatars2.githubusercontent.com/u/26819547" alt="">
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
<form class="form-mobile mx-3" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
