<div class="landing" style="background-color:black">
  <div id="content" class="container">
    <img src="https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669092922/Ozei/ozei_logo_armhnm.svg" alt="" class="logo">
  </div>
</div>
