<div id='bookings-modal' data-insert-booking-target='list'>
  <% @bookings.each do |booking| %>
    <div class="bookings">
      <%= render "bookings/card_product", booking: booking %>
    </div>
  <% end %>
  </div>
