<%= link_to restaurant_path(restaurant) do %>
  <div class="card-restaurant">
    <img src="https://source.unsplash.com/random" />
    <div class="card-restaurant-infos">
      <div class="m-3">
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.category %></p>
        <h2 class="card-restaurant-pricing"><%= restaurant.price_range %></h2>
      </div>
    </div>
  </div>
<% end %>
