<div class="d-flex">
  <% tags.each do |tag| %>
    <div class="button-group-pills text-center" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox" value="<%= tag %>" name="tag_list[]"<%= "checked" if params[:tags]&.include?(tag) %>>
        <%= tag %>
      </label>
    </div>
  <% end %>
</div>
