<div class="d-flex" id="mood-div">
  <% tags.each do |tag| %>
    <div class="button-group-pills text-center">
      <label class="tag-pill">
        <input  class="tags-checkbox" type="checkbox" id="<%=tag%>" value="<%= tag %>" name="tag_list[]"<%= "checked" if params[:tags]&.include?(tag) %>>
        <%= tag %>
      </label>
    </div>
  <% end %>
</div>
