<h1>This will be the restaurants Index</h1>
<%= render 'form' %>
<br>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<br>
<%=render 'list' %>
