.card-restaurant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-top: 8px;
  // transition-delay: 9999s;


  &.inactive {
    filter: grayscale(100%);
    // transition-delay: 0s;
  }

  &:hover {
    transform: scale(1.03);
    transition: .2s ease-in-out;
  }

  a {
    text-decoration: none;
  }

  img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #434242;

  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: gray;
    margin-bottom: 8px;
  }
}


.tags-card {
  position: absolute;
  top: 0px;
  left: 0px;
  p {
    float: left;
    color: #D47AE8;
    padding: 0 8px;
    font-size: smaller;
    // border: 1px solid #D47AE8;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 4px rgb(201, 201, 201);
  }

}

.card-content {
  display: flex;
  position: relative;
  transition-delay: 9999s;

  .select-card {
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.cards {
  margin: 0 auto;
  // max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.button-card {
  border: 2px solid #D47AE8;
  background-color: #D47AE8;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 8px rgb(230, 230, 230);
  font-weight: 500;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 8px rgb(182, 182, 182);
    font-weight: 600;
  }
  }

.info-search-text {
  color: #D47AE8;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
