.user-rejected-card {
  .card-product {
    height:100px;
    filter: grayscale(1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 100%);
    color:gray;

      .btn {
        color:gray;
      }

      img {
        display:none;
      }
    }
  }

.user-accepted-card {
  .card-product {
    height:100px;
  }
  img {
    display:none;
  }
}

.restaurant-accepted-card {
  .card-product{
    height:100px;
    filter: grayscale(1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 100%);
  }

  .btn {
    color:gray;
  }

  img {
    display:none;
  }

}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;


  // Owner-cards-product


}

.pending {
  color: #D47AE8;;
}

.content {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.accept a {
  margin-right: 20px;
  color: white;
}

.card-product img {
  min-width: 100px;
  height: 100%;
  object-fit: cover;
  margin-right: 16px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-right: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: none
}

.owner-confirm input {
  color: #f8f9fa;
}

.owner-reject input {
  color: #525151;
}

.user-accept input {
  color: #f8f9fa;
}

.user-reject input {
  color: #525151;
}
