// USER BOOKING CARDS START

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin-bottom:16px;

    img {
      width: 120px;
      height: 100%;
      object-fit: cover;
      margin-right: 16px;
    }
}

.pending {
  color: #D47AE8;;
}

.content {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.accept a {
  margin-right: 20px;
  color: white;
}

.card-product a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-right: 8px;
  text-decoration: none;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: none
}

.owner-confirm input {
  color: #f8f9fa;
}

.owner-reject input {
  color: #525151;
}

.user-accept input {
  color: #f8f9fa;
}

.user-reject input {
  color: #525151;
}

#user-booking-card {
  height: 150px;
  margin-bottom: 0px;
}
