#animations-example-4 tbody td {
  transform-origin: bottom;
  animation: revealing-bars 4s linear infinite;
}
@keyframes revealing-bars {
  0%  { transform: scaleY( 0 ); }
  15% { transform: scaleY( 1 ); }
}

#my-chart {
    --color-1: #FFE6F7;
    --color-2: #D47AE8;
    --color-3: #FFE6F7;
    --color-4: #D47AE8;
    --color-5: #FFE6F7;
    --color-6: #FFE6F7;
    --color-7: #D47AE8;
    --color-8: #FFE6F7;
    --color-9: #D47AE8;
    --color-10: #FFE6F7;
    --color-11: #D47AE8;
    --color-12: #FFE6F7;
 td {
  border-radius: 5px 5px 0 0;
  border: 1px solid #999;
 }
}
#my-chart tr:last-child {
  --color:  #FFE6F7;
}

#my-chart tr:nth-child(n+11):not(:last-child) {
  --color: #D47AE8;
}
