.mapboxgl-popup {
  width: 200px;
  height: 200px;
  // border-radius: 8px;





  p {
    font-family: var(--bs-body-font-family);
  }

  .mapboxgl-popup-content {
    // This is the popout
    text-align: center;
    border-radius: 8px;

    .tag-pill
    {
      border: solid 2px;
      display: inline-block;
      font-size: 1rem;
      border-radius: 50rem;
      padding: 0.2rem 0.8rem;
      background-color: #ECEAFF;
      margin-right: 0.6rem;
      margin-bottom: 0.4rem;

      border-color: $green;
      background-color: $green;
      color: $white;
    }

    .pop-up-image {
      object-fit: contain;

    }

    img {
      border-radius: 8px;
      padding-bottom: 1rem;
    }

  }


}
