
#map{
  width: 100vw;
  height: 80vh;
  overflow-y: hidden;
}

.modal-hide {
  display: none
}

#map-modal-button {
  position: fixed;
  bottom: 30px;
  margin: auto;
  padding: 10px;
  z-index: 1;
  background-color: #D47AE8;;
  color: #ffffff;
  border-radius: 20px;
  width: 100px;
  // height: 50px;
  text-align: center;
  box-shadow: 0 0 4px #e1e1e1;
  font-size: 14px;
}

.map-text {
  font-weight: 750;
}
