.mapboxgl-popup {
  width: 200px;
  height: 200px;
  // border-radius: 8px;
}

.mapboxgl-popup-content {
  // This is the popout
  text-align: center;
  border-radius: 8px;

}

.pop-up-image {
  object-fit: contain;
  border-radius: 8px;

}

p {
  font-family: var(--bs-body-font-family);
}
