.navbar-vanilla {
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar-vanilla a {
  text-decoration: none;
  color: rgb(40,40,40);
  font-size: 20px;
}

.navbar-vanilla-section {
  display: flex;
  align-items: center;
}

.navbar-vanilla-logo {
  height: 64px;
  width: 64;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0 24px;
}

.navbar-vanilla-brand {
  margin: 0;
}

.navbar-vanilla-menu a {
  margin: 0 16px;
}

.navbar-vanilla-profile {
  position: relative;
  margin: 0 24px;
}

.navbar-vanilla-profile img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-vanilla-profile ul {
  position: absolute;
  top: 64px;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 8px 0;
  background-color: white;
  padding: 16px;
  width: max-content;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.navbar-vanilla-profile li {
  margin: 8px;
}

.navbar-vanilla-profile.active ul {
  opacity: 1;
  visibility: visible;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .navbar-vanilla-brand {
    font-size: 24px;
  }

  .navbar-vanilla-menu {
    display: none;
  }
}

.form-mobile {
display: none;
}
.form-desktop {
display: flex;
}

@media (max-width: 600px) {
.form-mobile {
  display: flex;
}
.form-desktop {
  display: none;
}
}
