.result-message {
  font-size: 12px;
  position: relative;
  top: 20px;
  margin: 13px 0 0 0;
  color:  gray;
  padding: 0 0 0 4px;
}

.sentence-results-start {
  p {
    margin-left: 24px;
  }
}

.button-all-card {
  border: 2px solid #D47AE8;
  background-color: #D47AE8;
  padding: 4px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 8px rgb(230, 230, 230);
  font-weight: 500;
  margin: -8px 24px 0 130px;
  position: absolute;
  text-align: center;
  right: 0;
}

.total {
  height: 50px;
}
